.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6dd5fa, #ffffff); /* light & fun gradient */
  font-family: 'Poppins', sans-serif;
}

.leaflet-routing-container {
  display: none !important;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  max-width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #2d9119;
  color: white;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e68900;
}

p {
  font-size: 14px;
}

span {
  text-decoration: underline;
  cursor: pointer;
}

.route-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.route-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-left: 10px;

}

.route-text {
  font-size: 14px;
  margin: 0;
  text-decoration: none;
}
